#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: pink;
}
button:hover {
  filter: drop-shadow(0 0 2em green);
}
button {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
